/* UTILITIES */

* {    
    margin: 0;    
    padding: 0;    
    box-sizing: border-box;    
    }
    
    body {        
    font-family:Verdana, Geneva, Tahoma, sans-serif    
    }
    
    a {        
    text-decoration: none;    
    }
    
    li {        
    list-style: none;    
    }


/* NAVBAR STYLING STARTS */

.navbar {    
    display: flex;    
    align-items: center;    
    justify-content: space-between;    
    padding: 5px;    
    background-color: teal;    
    color: #fff;    
    }
    
    .nav-links a {        
    color: #fff;    
    }
    
    /* LOGO */
    
    .logo {        
    font-size: 28px;
    margin-left: 10px;    
    }
    
    /* NAVBAR MENU */
    
    .menu {        
    display: flex;    
    gap: 1em;    
    font-size: 18px;    
    }
    
    .menu li:hover {        
    background-color: #4c9e9e;    
    border-radius: 5px;    
    transition: 0.3s ease;    
    }
    
    .menu li {        
    padding: 5px 14px;    
    }
    
    /* DROPDOWN MENU */
    
    .services {        
    position: relative;    
    }
    
    .dropdown {        
    background-color: rgb(1, 139, 139);    
    padding: 1em 0;    
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;    
    border-radius: 8px;    
    top: 35px;    
    z-index: 99;
    }
    
    .dropdown li + li {        
    margin-top: 10px;    
    }
    
    .dropdown li {        
    padding: 0.5em 1em;    
    width: 8em;    
    text-align: center;    
    }
    
    .dropdown li:hover {        
    background-color: #4c9e9e;    
    }
    
    .services:hover .dropdown {        
    display: block;    
    }

/* CHECKBOX HACK */

input[type=checkbox]{    
    display: none;    
    }
    
    /*HAMBURGER MENU*/
    
    .hamburger {    
    display: none;    font-size: 24px;    user-select: none;    
    }

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {    
    .menu {    
    display:none;    
    position: absolute;    
    background-color:teal;    
    right: 0;    
    left: 0;    
    text-align: center;    
    padding: 16px 0;    
    z-index: 99;  
    }
    
    .menu li:hover {    
    display: inline-block;    
    background-color:#4c9e9e;    
    transition: 0.3s ease;    
    }
    
    .menu li + li {    
    margin-top: 12px;    
    }
    
    input[type=checkbox]:checked ~ .menu{    
    display: block;    
    }
    
    .hamburger {    
    display: block;    
    }
    
    .dropdown {    
    left: 50%;    
    top: 30px;    
    transform: translateX(35%);  
    }
    
    .dropdown li:hover {    
    background-color: #4c9e9e;    
    }
    
    }

.column-group {
    display: grid;
    padding: 20px;
    margin: 0 auto;
}

.column {
    padding: 0px;
    background-color: rgb(215, 231, 240);  
    margin: 10px;
    border-radius: 10px;
    position: relative;
    justify-content: center;
}

.column-group2 {
    display: grid;
    padding: 20px;
    margin: 0 auto;
}

.column2 {
    padding: 0px;
    background-color: rgb(215, 231, 240);  
    margin: 10px;
    border-radius: 10px;
    position: relative;
    justify-content: center;
}

.topic {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -20px;
    border: solid rgba(26, 22, 0, 0.767) 1px;
    width: fit-content;
    padding: 5px;
    text-align: center;
    background-color: rgb(247, 225, 103);
    border-radius: 5px;
    font-size: x-large;
    font-weight: bolder;
}

.picture-info {
    display: flex;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5CbdFJzQ5aHmVUQwCRE2ZQ4fnd3HkhZmxpQ&usqp=CAU');
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
    color: rgba(254, 255, 254, 0.918);
    font-size: x-large;
    font-weight: bolder;
}

.info {
    background-color: aliceblue;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    text-align: center;
    color:rgb(0, 0, 0);
    padding: 5px
    
}

.footer {  
    display: flex;
    color: aliceblue;
    background-color: rgb(19, 81, 214);  
    height: 30px;  
    margin-top: 10px;
    display: flex;  
    align-items: center;  
    justify-content: center;
    box-shadow: 0 0 0 0 rgb(4, 18, 56);  
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (min-width: 800px) {

    .column-group { 
        grid-template-columns: 1fr 2.5fr 1fr;
    }
    .column-group2 { 
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }

